// Copyright (c) {{.Year}} {{.Author}}. All rights reserved.

package task

import (
	"context"
	"time"

	"github.com/LingByte/ling-base/common/logger"
	"go.uber.org/zap"
)

type TaskFunc func(ctx context.Context) error

func SampleTask(ctx context.Context) error {
	logger.Lg.Info("执行示例任务", zap.String("time", time.Now().Format(time.RFC3339)))
	return nil
}

func HealthCheck(ctx context.Context) error {
	logger.Lg.Info("健康检查",
		zap.String("status", "ok"),
		zap.String("time", time.Now().Format(time.RFC3339)))
	return nil
}
