go 1.26.2

use (
	.
	./bloom
	./bloom/counting
	./bloom/memory
	./bloom/redis
	./bloom/redisbloom
	./bloom/scalable
	./cache
	./cache/bigcache
	./cache/freecache
	./cache/memcache
	./cache/redis
	./cache/ristretto
	./captcha
	./censor
	./censor/aliyun
	./censor/qcloud
	./censor/qiniu
	./i18n
	./i18n/gin
	./i18n/mymemory
	./lock
	./lock/consul
	./lock/etcd
	./lock/mysql
	./lock/postgres
	./lock/redis
	./lock/redlock
	./lock/zookeeper
	./stores
	./stores/cos
	./stores/kodo
	./stores/ks3
	./stores/local
	./stores/minio
	./stores/obs
	./stores/oss
	./stores/s3
	./stores/tos
)
