// Copyright (c) {{.Year}} {{.Author}}. All rights reserved.

// Package constants defines application-wide constant values.
package constants

// Database table names.
const (
	TableUsers = "users"
)
