version: "3.8"

services:
  app:
    build: .
    container_name: {{.ProjectName}}
    ports:
      - "{{.Port}}:{{.Port}}"
    {{- if .IsEnvConfig}}
    env_file:
      - configs/.env.prod
    {{- else}}
    environment:
      - APP_APP_ENVIRONMENT=production
    volumes:
      - ./configs:/app/configs
    {{- end}}
    restart: unless-stopped
    depends_on:
      - mysql
      - redis

  mysql:
    image: mysql:8.0
    container_name: {{.ProjectName}}-mysql
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: {{.ProjectName}}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: {{.ProjectName}}-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: unless-stopped

volumes:
  mysql_data:
  redis_data:
