// Copyright (c) {{.Year}} {{.Author}}. All rights reserved.

package main

import (
	"{{.Module}}/internal/app"
)

var (
	Version   = "dev"
	BuildTime = "unknown"
	GitCommit = "none"
)

func main() {
	app.Run(&app.AppInfo{
		Name:      "{{.ProjectName}}",
		Version:   Version,
		BuildTime: BuildTime,
		GitCommit: GitCommit,
	})
}
